USE [master]
GO
/****** Object:  Database [Trafika]    Script Date: 22-Dec-17 12:48:10 PM ******/
CREATE DATABASE [Trafika]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trafika', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Trafika.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trafika_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Trafika_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trafika].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trafika]
GO
USE [Trafika]
GO
/****** Object:  Table [dbo].[tblDobavljac]    Script Date: 22-Dec-17 12:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDobavljac](
	[DobavljacID] [int] IDENTITY(1,1) NOT NULL,
	[NazivFirme] [nvarchar](30) NULL,
 CONSTRAINT [PK_tblDobavljac] PRIMARY KEY CLUSTERED 
(
	[DobavljacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFiskalniRacun]    Script Date: 22-Dec-17 12:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFiskalniRacun](
	[FiskalniRacunID] [int] IDENTITY(1,1) NOT NULL,
	[DatumIzdavanja] [date] NULL,
	[VremeIzdavanja] [nvarchar](10) NULL,
	[MestoIzdavanja] [nvarchar](10) NULL,
	[Iznos] [numeric](10, 2) NULL,
	[Kolicina] [int] NULL,
	[ProdavacID] [int] NULL,
	[ProizvodID] [int] NULL,
	[KupacID] [int] NULL,
 CONSTRAINT [PK_tblFiskalniRacun] PRIMARY KEY CLUSTERED 
(
	[FiskalniRacunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKupac]    Script Date: 22-Dec-17 12:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKupac](
	[KupacID] [int] IDENTITY(1,1) NOT NULL,
	[BrojMobilnogTelefona] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblKupac] PRIMARY KEY CLUSTERED 
(
	[KupacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProdavac]    Script Date: 22-Dec-17 12:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProdavac](
	[ProdavacID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NULL,
	[Password] [nvarchar](20) NULL,
 CONSTRAINT [PK_tblProdavac] PRIMARY KEY CLUSTERED 
(
	[ProdavacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProizvod]    Script Date: 22-Dec-17 12:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProizvod](
	[ProizvodID] [int] IDENTITY(1,1) NOT NULL,
	[Cena] [numeric](10, 2) NULL,
	[Sifra] [nvarchar](20) NULL,
	[Naziv] [nvarchar](20) NULL,
	[ProizvodjacID] [int] NULL,
	[VrstaProizvodaID] [int] NULL,
	[DobavljacID] [int] NULL,
 CONSTRAINT [PK_tblProizvod] PRIMARY KEY CLUSTERED 
(
	[ProizvodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProizvodjac]    Script Date: 22-Dec-17 12:48:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProizvodjac](
	[ProizvodjacID] [int] IDENTITY(1,1) NOT NULL,
	[NazivProizvodjaca] [nvarchar](30) NULL,
 CONSTRAINT [PK_tblProizvođač] PRIMARY KEY CLUSTERED 
(
	[ProizvodjacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVrstaProizvoda]    Script Date: 22-Dec-17 12:48:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVrstaProizvoda](
	[VrstaProizvodaID] [int] IDENTITY(1,1) NOT NULL,
	[NazivVrsteProizvoda] [nvarchar](20) NULL,
 CONSTRAINT [PK_tblVrstaProizvoda] PRIMARY KEY CLUSTERED 
(
	[VrstaProizvodaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFiskalniRacun]  WITH CHECK ADD  CONSTRAINT [FK_tblFiskalniRacun_tblKupac] FOREIGN KEY([KupacID])
REFERENCES [dbo].[tblKupac] ([KupacID])
GO
ALTER TABLE [dbo].[tblFiskalniRacun] CHECK CONSTRAINT [FK_tblFiskalniRacun_tblKupac]
GO
ALTER TABLE [dbo].[tblFiskalniRacun]  WITH CHECK ADD  CONSTRAINT [FK_tblFiskalniRacun_tblProdavac] FOREIGN KEY([ProdavacID])
REFERENCES [dbo].[tblProdavac] ([ProdavacID])
GO
ALTER TABLE [dbo].[tblFiskalniRacun] CHECK CONSTRAINT [FK_tblFiskalniRacun_tblProdavac]
GO
ALTER TABLE [dbo].[tblFiskalniRacun]  WITH CHECK ADD  CONSTRAINT [FK_tblFiskalniRacun_tblProizvod] FOREIGN KEY([ProizvodID])
REFERENCES [dbo].[tblProizvod] ([ProizvodID])
GO
ALTER TABLE [dbo].[tblFiskalniRacun] CHECK CONSTRAINT [FK_tblFiskalniRacun_tblProizvod]
GO
ALTER TABLE [dbo].[tblProizvod]  WITH CHECK ADD  CONSTRAINT [FK_tblProizvod_tblDobavljac] FOREIGN KEY([DobavljacID])
REFERENCES [dbo].[tblDobavljac] ([DobavljacID])
GO
ALTER TABLE [dbo].[tblProizvod] CHECK CONSTRAINT [FK_tblProizvod_tblDobavljac]
GO
ALTER TABLE [dbo].[tblProizvod]  WITH CHECK ADD  CONSTRAINT [FK_tblProizvod_tblProizvodjac] FOREIGN KEY([ProizvodjacID])
REFERENCES [dbo].[tblProizvodjac] ([ProizvodjacID])
GO
ALTER TABLE [dbo].[tblProizvod] CHECK CONSTRAINT [FK_tblProizvod_tblProizvodjac]
GO
ALTER TABLE [dbo].[tblProizvod]  WITH CHECK ADD  CONSTRAINT [FK_tblProizvod_tblVrstaProizvoda] FOREIGN KEY([VrstaProizvodaID])
REFERENCES [dbo].[tblVrstaProizvoda] ([VrstaProizvodaID])
GO
ALTER TABLE [dbo].[tblProizvod] CHECK CONSTRAINT [FK_tblProizvod_tblVrstaProizvoda]
GO
USE [master]
GO
